@model ECommerceADO.ViewModels.LoginVM

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Đăng Nhập</h1>
        <form asp-action="DangNhap" asp-route-returnurl="@ViewBag.ReturnUrl" >
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-item">
                        <label asp-for="@Model.Username" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="@Model.Username" type="text" class="form-control">
                        <span asp-validation-for="@Model.Username" class="text-danger"></span>
                    </div>

                    <div class="form-item">
                        <label asp-for="@Model.Password" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="@Model.Password" type="password" class="form-control">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>

                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Đăng Nhập</button>
                    </div>

                    <a asp-controller="KhachHang" asp-action="QuenMatKhau" class="btn border-danger">
                        Quên Mật Khẩu
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>