@model ECommerceADO.ViewModels.RegisterVM


<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Đăng ký thành viên</h1>
        <form asp-action="DangKy" enctype="multipart/form-data">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label asp-for="@Model.MaKH" class="form-label my-3"></label><sup>*</sup>
                                <input asp-for="@Model.MaKH" type="text" class="form-control">
                                <span asp-validation-for="@Model.MaKH" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-item w-100">
                                <label asp-for="@Model.MatKhau" class="form-label my-3"></label><sup>*</sup>
                                <input asp-for="@Model.MatKhau" type="text" class="form-control">
                                <span asp-validation-for="@Model.MatKhau" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label asp-for="@Model.HoTen" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="@Model.HoTen" type="text" class="form-control">
                        <span asp-validation-for="@Model.HoTen" class="text-danger"></span>
                    </div>

                    <div class="form-check my-3">
                        <input asp-for="@Model.GioiTinh" type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="Model.GioiTinh">Nam</label>
                    </div>
                    <hr>

                    <div class="form-item">
                        <label asp-for="@Model.NgaySinh" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="@Model.NgaySinh" type="date" class="form-control">
                        <span asp-validation-for="@Model.NgaySinh" class="text-danger"></span>
                    </div>

                    <div class="form-item">
                        <label asp-for="@Model.DiaChi" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="@Model.DiaChi" type="text" class="form-control">
                        <span asp-validation-for="@Model.DiaChi" class="text-danger"></span>
                    </div>

                    <div class="form-item">
                        <label asp-for="@Model.Email" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="@Model.Email" type="text" class="form-control">
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>

                    <div class="form-item">
                        <label asp-for="@Model.DienThoai" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="@Model.DienThoai" type="text" class="form-control">
                        <span asp-validation-for="@Model.DienThoai" class="text-danger"></span>
                    </div>

                    <div class="form-item">
                        <label asp-for="@Model.DienThoai" class="form-label my-3" for="Hinh">Hình</label><sup>*</sup>
                        <input name="Hinh" type="file" class="form-control">
                    </div>

                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Đăng ký</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>