@model IEnumerable<ShopManager.Models.Product>

<h1 class="fw-bold mb-0">Related products</h1>
<div class="vesitable">
    <div class="owl-carousel vegetable-carousel justify-content-center">
        @foreach (var item in Model)
        {
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <a asp-area="" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">
                        <img src="~/images/SanPham/@item.Img" class="img-fluid w-100 rounded-top" alt="@item.Img"
                             style="aspect-ratio:1.5; object-fit:cover" />
                    </a>
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                     style="top: 10px; right: 10px">
                    @item.CategoryTitle
                </div>
                <div class="p-4 pb-0 rounded-bottom">
                    <h4 style="line-height:1.5rem; height:3rem; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  overflow: hidden;">
                        @item.Title
                    </h4>
                    <p style="line-height:1.5rem; height:3rem; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  overflow: hidden;">
                        @item.Content
                    </p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>
                        <a href="#"
                           class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>