@model ShopManager.Areas.Admin.Models.CategoryAdmin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <div>
        <!-- ID & title-->
        <div class=" row">
            <div class=" col-md-4">
                <span class="title_admin">ID: </span>
                <span>@Model.Id</span>
            </div>
            <div class=" col-md-8">
                <span class="title_admin">Title: </span>
                <span>@Model.Title</span>
            </div>
        </div>
        <br />

        <!--Content-->
        <div class=" d-flex">
            <span class="title_admin me-3">Content: </span>
            <span>@Model.Content</span>
        </div>
        <br />

        <!--Create-->
        <div class=" d-flex">
            <span class="title_admin  me-3">Create: </span>
            <span>@Model.CreateAt</span>
        </div>
        <br />

        <!--Update-->
        <div class=" d-flex">
            <span class="title_admin me-3">Update: </span>
            <span>@Model.UpdateAt</span>
        </div>
        <br />

    </div>
</div>
<div>
    <a asp-controller="categoryAdmin" asp-action="Edit" asp-route-id="@Model.Id"
       class="btn btn-primary">
        <span class="mx-3">
            Edit
        </span>
    </a>
    <br />
    <br />
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>

