@model List<CRUDWithADO.Net.Models.Employee>
@{
    ViewData["Title"] = "Employee Details";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}

<h3>@ViewData["Title"]?.ToString()</h3>
<hr />
@if (string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success">
        <b>Success : </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage)) {
    <div class="alert alert-danger">
        <b>Error:  </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<Form>
    <button asp-action="Create" asp-controller="Employee" class="btn btn-primary mb-3">Create Employee
    </button>

    <table class="table table-responsive table-bordered table-hover">
        <thead>
            <tr class="table-active">
                <th>Id</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>E-Mail</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FullName</td>
                        <td>@employee.DateOfBirth.ToString("dd/MM/YYYY")</td>
                        <td>@employee.Email</td>
                        <td>@employee.Salary</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" 
                                class="btn btn-primary">Edit</a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id"
                                   class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No Employee available at this moment!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</Form>