@model IEnumerable<CRUDWithADO.Net.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Infomation: </strong>      @TempData["InfoMessage"]
        @* <div></div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>x</span>
        </button> *@
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
}


<p>
    @* <a asp-action="Create">Create New</a> *@
    @* <button asp-action="Create" asp-controller="Employee" class="btn btn-primary mb-3">
        Create Employee
    </button> *@
    @Html.ActionLink("Create", "Create",new  { }, new {@class = "btn btn-primary"})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }, new {@class = "btn btn-primary"}) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }, new {@class = "btn btn-success"}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  }, new {@class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
