@model ShopManager.Models.CustomerForgotPassword
@{
    ViewData["Title"] = "ForgotPassword";
}


<!-- Form Start -->
<form id="formForgotPassword" class="container-fluid py-5" style="margin-top: 130px" method="post" asp-controller="Customer" asp-action="ForgotPassword">
    <!--Model Confirm-->
    <div class="modal fade" id="modelForgotPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">OTP đã được gửi đến Email</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="mb-3 d-flex align-items-center">
                            <label for="recipient-name" class="col-form-label mx-2">OTP:</label>
                            <input type="text" asp-for="@Model.OTP" id="otp_input" class="form-control" id="recipient-name" />
                        </div>
                        <p class="text-danger" id="warningOTP"></p>
                    </div>
                </div>

                <!-- dùng JS để Lấy Email vừa nhập-->
                <input type="hidden" asp-for="@Model.Email" id="emailForgotPasswordController" />
                <input type="hidden" asp-for="@Model.RandomCode" id="otpId" value="@Model.RandomCode" />


                <!-- Button Submit-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <span style="color: white; font-size: 17px">Xác nhận</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>



<!-- Form-->
<div class="container">
    <div class="row justify-content-md-center">


        <div class="col-md-4 col-md-offset-4"
             style="border: 1px solid #ccc; border-radius: 10px; padding: 40px 20px">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x" style="font-size:40px"></i></h3>
                        <h2 class="text-center">Quên mật khẩu?</h2>
                        <p>Vui lòng nhập Email để lấy lại mật khẩu.</p>

                        <div class="panel-body">
                            <div>
                                <div class="form-group">
                                    <div class="input-group"
                                         style="
                                                        border: 1px solid #ccc;
                                                        border-radius: 10px;
                                                        overflow: hidden;
                                                    ">
                                        <div class="input-group-addon"
                                             style="
                                                            background-color: #eee;
                                                            padding: 0px 15px;
                                                            display: flex;
                                                            border-right: 2px solid #ccc;
                                                        ">
                                            <i class="bi bi-envelope-fill"
                                               style="color: grey; font-size: 22px; margin-top: 1px"></i>
                                        </div>
                                        <input placeholder="Email"
                                               id="forgotPasswordEmail"
                                               class="form-control"
                                               type="email"
                                               style="border: none" />
                                    </div>
                                </div>
                                <p class="text-danger mt-3" id="text_warning_forgotpassword"></p>
                                <div class="form-group pt-3 w-100">
                                    <button onclick="openModal()" id="btn_open_modal" class="btn btn-lg btn-primary py-1 w-100">
                                        <span class="w-100" style="color: white; font-size: 17px; padding: 0px 15px">Xác nhận</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Form End -->

<script>
    //--------- open Modal --------------
    function openModal() {
        const emailInput = document.getElementById("forgotPasswordEmail").value;
        const otpValueEmail = document.getElementById("otpId").value;

        console.log(emailInput);
        console.log(otpValueEmail);


        //Không nhập Email
        if (emailInput.trim() == "") {
            document.getElementById("text_warning_forgotpassword").innerText = "Vui lòng nhập Email";
            return;
        }
        //Nếu email không đúng định dạng
        if (!emailInput.includes("@@")) {
            document.getElementById("text_warning_forgotpassword").innerText = "Email không chính xác";
            return;
        }

        // Hiển thị Loading
        document.getElementById("btn_open_modal").innerHTML = "<div class='spinner-border py-2' role='status' style='color:white'>"
            + "<span class='sr-only'>Loading...</span>"
            + "</div>";

        //Call ajax kiểm tra email
        $.ajax({
            url: '@Url.Action("ForgotCheckEmailExist","Customer")',
            method: "POST",
            data: { email: emailInput, otp: otpValueEmail },
            success: function (data) {
                //tắt Loading
                document.getElementById("btn_open_modal").innerHTML = "<span class='w-100' style = 'color: white; font-size: 17px; padding: 0px 15px' > Xác nhận </span>";

                // Refresh text cảnh báo
                document.getElementById("text_warning_forgotpassword").innerText = "";

                // kiểm tra kết quả trả về từ Action

                if (data == "Không tìm thấy Email") {
                    document.getElementById("text_warning_forgotpassword").innerText = "Không tìm thấy tài khoản đăng ký Email này";
                    return;
                }

                if (data = "OK") {
                    //------------- Mở Modal
                    $("#modelForgotPassword").modal('show');
                    return;
                }
                alert("Lỗi hệ thống")

            },
            error: function (xhr, ajaxOptions, thrownError) {
                //some errror, some show err msg to user and log the error
                alert(" ForgotCheckEmailExistAsync error");
            }
        });


        //------------- Mở Modal
        // $("#modelForgotPassword").modal('show');
    }

    // -------------- Form Submit ------------------------
    document.getElementById('formForgotPassword').onsubmit = function () {
        //Refresh warning OTP
        document.getElementById("warningOTP").innerText = "";

        //Kiểm tra OTP đã nhập hay chưa
        const otpValue = document.getElementById("otp_input").value;

        if (otpValue.trim() == "") {
            //Cảnh báo chưa nhập OTP
            document.getElementById("warningOTP").innerText = "Vui lòng nhập mã OTP";
            return false; // dừng submit form
        }

        const emailInput = document.getElementById("forgotPasswordEmail").value;
        console.log(emailInput);

        document.getElementById("emailForgotPasswordController").value = emailInput;

        console.log("heheh: ", document.getElementById("emailForgotPasswordController").value);

        //Kiểm tra OTP vừa nhập có gióng mới OTP được gửi trong email hay không
        const otpValueEmail = document.getElementById("otpId").value;
        if (otpValue != otpValueEmail) {
            document.getElementById("warningOTP").innerText = "Mã OTP không chính xác";
            return false;
        }

        return true;// tiếp tục submit form -> gọi đến Action trong Controller
    }
</script>
