@model ShopManager.Models.CustomerNewPassword
@{
    ViewData["Title"] = "NewPassword";
}

<!-- Form Start -->
<div div class="container-fluid py-5" style="margin-top: 130px">
    <div class="container">
        <div class="row justify-content-md-center">
            <!-- Alert Success Start -->
            @if (!string.IsNullOrWhiteSpace(TempData["ResetPasswordSuccessMessage"]?.ToString()))
            {
                <div class="w-100 d-flex justify-content-end">
                    <div class="alert alert-success alert-dismissible fade show r-0 mr-5" role="alert" id="alert_error" style="width:40%">
                        <strong>Chúc mừng!</strong> @TempData["ResetPasswordSuccessMessage"]?.ToString()
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                </div>
            }
            <!-- Alert Success Start -->
            @if (!string.IsNullOrWhiteSpace(TempData["ResetPasswordErrorMessage"]?.ToString()))
            {
                <div class="w-100 d-flex justify-content-end">
                    <div class="alert alert-danger alert-dismissible fade show r-0 mr-5" role="alert" id="alert_error" style="width:40%">
                        <strong>Lỗi!</strong> @TempData["ResetPasswordErrorMessage"]?.ToString()
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                </div>
            }
            <!-- Alert Success End -->

            <div class="col-md-12 col-lg-5 col-xl-4">
                <h2>Cấp lại mật khẩu</h2>
                <form method="post" asp-action="ResetPasswordPost" asp-controller="Customer">
                    @* <div class="text-danger" asp-validation-summary="All"></div> *@
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <label class="form-label" for="form2Example1">Mật khẩu mới <span asp-validation-for="@Model.NewPassWord" class="text-danger"></span></label>
                        <input type="text" asp-for="@Model.NewPassWord" class="form-control" />
                    </div>

                    <!-- Confirm Password input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <label class="form-label" for="form2Example1">Nhập lại mật khẩu <span asp-validation-for="@Model.Confirm_NewPassWord" class="text-danger"></span></label>
                        <input type="text" asp-for="@Model.Confirm_NewPassWord" class="form-control" />
                    </div>

                    <!-- Input Email-->
                    <input type="hidden" asp-for="@Model.Email" value="@Model.Email"/>

                    <!-- Submit button -->
                    <div class="">
                        <button type="submit"
                                data-mdb-button-init
                                data-mdb-ripple-init
                                class="btn btn-primary btn-block mb-4 w-100">
                            <span class="px-2" style="color: white"> Xác nhận </span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
